.checkout{
  margin:2rem auto;

  h1{
    display: block;
    width: 100%;
  }
  h1,p{
    text-align: center;
  }
  .checkoutHeader{
    border-bottom: 1px solid black;
  }
  .cart{
    max-width: 120rem;
    margin:0 auto;
    table{
      width: 100%;
    }
  }
  .checkoutHeader,
  .cart{
    width: 100%;
    text-align: left;

    th,
    td{
      width: 22%;
    }
  }
  .cartItem{
    padding-top: 1rem;
    td img {
      display: block;
      width: 50%;
    }
  }
  .cartBtn{
    cursor: pointer;
    width: 30%;
    height: 2.5rem;
  }
  .noItems{
    display: flex;
    flex: 2;
    flex-direction: column;
    .text{
      flex: 1;
      font-size: 1.5rem;
    }
    .btn{
      width: 20rem;
      align-self: center;
    }
  }
}
