.checkout{
  margin:2rem auto;
  // box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, 0.1);
  h1{
    display: block;
    width: 100%;
  }
  h1,p{
    text-align: center;
  }
  .checkoutHeader{
    border-bottom: 1px solid black;
  }
  .cart{
    box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, 0.1);
    max-width: 120rem;
    margin:2rem auto 19rem;
    table{
      width: 100%;
    }
  }
  .checkoutHeader,
  .cart{
    width: 100%;
    text-align: left;

    th,
    td{
      width: 22%;
    }
  }
  .cartItem{
    padding-top: 1rem;
    td img {
      box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, 0.1);
      display: block;
      width: 50%;
    }
  }
  .cartBtn{
    cursor: pointer;
    width: 50%;
    height: 3.5rem;
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, 0.1);
  }
  .cartBtnQuantity{
  background-color: black;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    width: 3.5rem;
    border-radius: 2rem;
    &:hover {
      border: 1px solid  black;
      background-color: white;
      color: black;
      transition: all 0.4s ease-in-out;
    }
  }
  .noItems{
    display: flex;
    flex: 2;
    flex-direction: column;
    .text{
      flex: 1;
      font-size: 1.5rem;
    }
    .btn
    { width: 20rem;
      margin-bottom: 2rem;
      align-self: center;
        &:hover {
          border: 1px solid  black;
          background-color: white;
          color: black;
          transition: all 0.4s ease-in-out;
        }
      }
  }
  .btn
  {  align-self: center;
    &:hover {
      border: 1px solid  black;
      background-color: white;
      color: black;
      transition: all 0.4s ease-in-out;
    }
  }
}
