.footer {
    background: #28208d;
    border: 1px solid black;
    display: flex;
    .wrap {
        max-width: 1450px;
        margin: 0 auto;
        padding: 20px 10px;
        color: white;

    }
}